<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Template</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>{{title}}</h1>
    <ul>
      {% for item in forecasts %}
      <li>Day {{forloop.counter}}: {{item}}</li>
      {% if item == "Rainy" %}
      <img src="https://icongr.am/fontawesome/umbrella.svg" alt="umbrella" />
      {% endif %} {% if item == "Sunny" %}
      <img src="https://icongr.am/fontawesome/sun-o.svg" alt="sun" />
      {% endif %} {% if item == "Cloudy" %}
      <img src="https://icongr.am/fontawesome/cloud.svg" alt="cloud" />
      {% endif %} {% if item == "Snowy" %}
      <img src="https://icongr.am/fontawesome/snowflake-o.svg" alt="snow" />
      {% endif %} {% endfor %}
    </ul>
    <p><a href="{% url 'root' %}">Top page</a></p>
  </body>
</html>
